.sbar{   /*style for search/share button Note: unsuable until Js stuff*/
    position: fixed;
    top: 80px;
    right: 100px;
    
}


body { /*font  design*/
    font-family:Poppins, sans-serif;
    background: linear-gradient(to right, #ff4133 0%, #48f005 100%);
    
}
.li{/*style links in navbar*/
    margin:  15px;
    text-decoration: none;  
    font-weight: bold;

}
.title-bar{ /*place title bar at the top =left, with styles */
    background: linear-gradient(to right, #ff4133 0%, #6b05f0 100%);
    color: black;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-right: 450px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    font-family: poppins, sans-serif;
   
}

.b{    /*fixes navbar at the top and centers itz, with designs */ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
     width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    background: linear-gradient(to right, #33f1ff 0%, #0557f0 100%);
    font-weight: bold;
  
    
}
.b1{ /*circle logo*/
    vertical-align: middle;
            height: 32px;
            width: 32px;
            margin-right: 5px;
            border-radius: 50%;
}
img,.b1{ /*circle images*/
    border-radius: 50%;
}
/* Helps in columns */
.c {
    display: flex;
    gap: 100px;
    align-items: flex-start;
    margin: 32px 0;
    margin-top: 10px;
}

.c1{ /*modifies first small header and paragraphs,creates 1st column*/
   
    text-align: center ;
    margin:0;
    flex: 1;
    float: none ;
    
}
.c2{/*places 2nd paragraph beside the first one */
    text-align: center ;
    margin:0;
    flex: 1;
    float: none ;
   
}

.c3{ /*fixes 3rd paragraph*/
    text-align: center;
    margin: 200px;
    margin-top: 10px;
}   
#1p{ /*fixes paragraph */
    margin-left: 20px ;
    margin-right: 10px;
    text-align: left;
    height: 100px;
    width: 10px;
}


.f{ /*footer design, and fixed at the bottom left*/
   background: linear-gradient(to right, #ff4133 0%, #48f005 100%);
    margin-top: auto; 
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

body { /*helps fix footer is at the bottom of the page*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
